<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC Building</title>
    <link rel="stylesheet" href="C:\dev\CompSite\app\styles.css">
</head>
<body>
    <header>
        <h1>PC Building</h1>
    </header>
    
    <nav>
        <ul>
            <li><a href="Home.html">Home</a></li>
            <li><a href="Parts Lists.html">Part Lists</a></li>
            <li><a href="How-to.html">How-to's</a></li>
        </ul>
    </nav>
    
    <main>
        
        <p><h2>Welcome to Omar's PC Building site, Your Ultimate PC Building Guide!

            Whether you're a first-time builder or a seasoned enthusiast, you've come to the right place! Our mission is to make PC building simple, fun, and accessible for everyone. Here, you'll find everything you need to create your dream setup, from budget-friendly builds to high-performance rigs.
            
            Explore our Part Lists page to discover curated PC components tailored to different budgets and needs. Not sure where to start? Our recommendations will help you pick the perfect parts without the guesswork. Once your build is ready, head over to our How-To's page for step-by-step videos on setting up your new PC, installing an OS, optimizing performance, and more.
            
            Ready to dive in?</h2></p>
    </main>
    
    <footer>
        <h4><p>This website is owned and desgined by Omar Qawas, if you have any queries contact fakeemail@gmail.com</p></footer></h4>
    </footer>
</body>
</html>