<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC Building</title>
    <link rel="stylesheet" href="C:\dev\CompSite\app\static\styles.css">
</head>
<body>
    <header>
        <h1>PC Building</h1>
    </header>
    
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="parts_lists">Part Lists</a></li>
            <li><a href="how_to">How-to's</a></li>
        </ul>
    </nav>
    
    <main>
        
        <p><h2>These here are tutorial videos we reccomend you watch, they teach you how to build a pc and what to do after building one. (eg. installing windows and your drivers ect.)</h2></p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/DC-Xn2C_L1U" title="YouTube video player" frameborder="50" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WpnLehvOM6E" title="YouTube video player" frameborder="50" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </main>
    
    <footer>
        <h4><p>This website is owned and desgined by Omar Qawas, if you have any queries contact fakeemail@gmail.com</p></footer></h4>
    </footer>
</body>
</html>