<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC Building</title>
    <link rel="stylesheet" href="C:\dev\CompSite\app\styles.css">
</head>
<body>
    <header>
        <h1>PC Building</h1>
    </header>
    
    <nav>
        <ul>
            <li><a href="Home.html">Home</a></li>
            <li><a href="Parts Lists.html">Part Lists</a></li>
            <li><a href="How-to.html">How-to's</a></li>
        </ul>
    </nav>
    
    <main>
        
        <p><h2>This is the Parts Lists page, here you'll see different part lists currated for different budgets.</h2></p>
    </main>
    
    <footer>
        <h4><p>This website is owned and desgined by Omar Qawas, if you have any queries contact fakeemail@gmail.com</p></footer></h4>
    </footer>
</body>
</html>