<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PSU - {{ psu.model if psu else 'Not Found' }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<ul>
            <li><a href="/">Home</a></li>
            <li><a href="/parts_lists">Part Lists</a></li>
            <li><a href="/how_to">How-to's</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/psu-1">PSU</a></li>
            <li><a href="/psu-2">PSU2</a></li>
            <li><a href="/psu-3">PSU3</a></li>
        </ul>

<body>
    {% if psu %}
        <h1>PSU: {{ psu.model }}</h1>
        <p>psu.image: {{ psu.image }}</p>
    <img src="/static/psu1.jpg" alt="psu Image" style="max-width:300px;">
        <h2>Details</h2>
        <h4>(Note: This psu has been discontinued and may be hard to get now.)</h4>

        <a href="https://www.newegg.com/global/nz-en/msi-atx12v-550-w-80-plus-bronze-certified-power-supply-black-mag-a550bn/p/N82E16817701012?item=N82E16817701012&source=region">New Egg Link</a>
        
        <ul>
            {% for col, val in psu.__dict__.items() if col != "_sa_instance_state" %}
                <li>{{ col|capitalize }}: {{ val }}</li>
            {% endfor %}
        </ul>

        <h2>Pairs Well With</h2>
        <ul>
            {% if cpu %}
                <li>CPU: {{ cpu.model }}</li>
            {% endif %}
            {% if GPU %}
                <li>GPU: {{ gpu.model }}</li>
            {% endif %}
            {% if motherboard %}
                <li>motherboard: {{ motherboard.model }}</li>
            {% endif %}
            {% if cooler %}
                <li>Cooler: {{ cooler.model }}</li>
            {% endif %}
            {% if storage %}
                <li>Storage: {{ storage.model }}</li>
            {% endif %}
            {% if ram %}
                <li>RAM: {{ ram.model }}</li>
            {% endif %}
            {% if case %}
                <li>Case: {{ case.model }}</li>
            {% endif %}
        </ul>
    {% else %}
        <h1>No GPU with id=1 found.</h1>
    {% endif %}

    <a href="{{ url_for('parts_lists') }}">Back to Parts List</a>
</body>
</html>